language: julia

julia:
  - 0.4
  - 0.5
  #- nightly

before_install:
- openssl aes-256-cbc -K $encrypted_9f2e6bc1f0ed_key -iv $encrypted_9f2e6bc1f0ed_iv
  -in docs/.documenter.enc -out docs/.documenter -d

after_success:
    - julia -e 'Pkg.add("Documenter")'
    - julia -e 'Pkg.checkout("Documenter")'
    - julia docs/make.jl
